.navbar-brand{
    font-size: xx-large;
}

.page-heading{
    font-size: x-large;
}

.content-heading{
    font-size: large;
    
}

.content-body{
    height: 1000px;
}

a:link{
    text-decoration: none;
    text-transform: capitalize;
}